html {
    -webkit-text-size-adjust: 100%;
}

.header{
  padding-top:20px;
  padding-bottom: 20px;
  width: 100%;
}

.header{
  display: block;
}

body, div, p, ul, ol, li, dl, dt, dd, table, th, td, img, figure, h1, h2, h3, h4, h5, h6, form, select{
  margin: 0;
  padding:0;
}

.headerlogo{
  transition:opacity 0.2s;
}

img{
  border:0;
  vertical-align: middle;
}

.headercontainer{
  display: flex;
  justify-content:space-between;
  margin:0 36px;
  max-width:100%;
  position:relative;
}

@media screen and (max-width:767px){
  .headercontainer{
    max-width:100%;
    margin:0 20px;
  }
}


@media screen and (max-width:1080px){
  .header{
    background-color: #fff;
    position: fixed;
    z-index: 10;
  }
}

@media screen and (max-width:767px){
  .header{
    padding-top:15px;
    padding-bottom:15px;
  }
}

.header{
  width:100%;
  position: absolute;
}

.headernavcontainer{
  display:inline-block;
}

.headernavlist{
  align-items:center;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1080px){
  .headernavhamburger{
    cursor:pointer;
    display: block;
    position: relative;
    width:30px;
    height:21px;
    z-index: 100;
    }
}

@media screen and (max-width:1080px){
  .headernavhamburger_line:first-child{
    top:0;
  }
}

@media screen and (max-width: 1080px){
.headernavhamburger_line{
    position: absolute;
    top: 50%;
    display: block;
    width: 100%;
    height: 3px;
    background-color: #000;
    transform: translate(0, -50%);
    border-radius: 10px;
    transition: top 0.2s, transform 0.2s, opacity 0.3s;
}
}

@media screen and (max-width:1080px){
  .headernavhamburger_line:last-child{
    top:100%;
  }
}

@media screen and (max-width:1080px){
  .headernavlist{
    overflow-y: scroll;
    position:fixed;
    top:60px;
    left:100%;
    width:100%;
    display:block;
    padding-top: 20px;
    padding-bottom: 75px;
    transition:transform 0.5s;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.8);
    height:100%;
  }
}


ul{
  list-style:none;
}

li{
  display: list-item;
}

.headernavlistitem{
  transition:opacity 0.5s;
  margin-right: 45px;
}

.headernavlistitem_link{
  display: block
}

.headernavlistitem_link>span:first-child{
  font-family: 'lato' , sans-serif;
}

.headernavlistitem_link>span{
  display: block;
  font-weight:700;
  text-align: center;
}

a{
  text-decoration:none;
  color:#333333;
}

.headernavlistitem_button{
  align-items:center;
  background-color: #f79214;
  border:none;
  border-radius:38px;
  color:#fff;
  cursor:pointer;
  display:flex;
  flex-direction:column;
  font-weight:700;
  justify-content:center;
  text-decoration: none;
  text-align:center;
  width:100%;
  font-size:12px;
  height: 40px;
  padding:0 20px;
}

.firstview_main-image-sp{
  display: none;
}

main{
  display: block;
}

@media screen and (max-width:1080px){
  main{
    padding-top:60px;
  }
}

@media screen and (max-width:767px){
  main{
    padding-top:52px;
  }
}





.firstview{
  background-image: url(https://camp.potepan.com/wp-content/themes/potepancamp/assets/images/home/first-view/top-hero.jpg);
  background-size:cover;
  background-position:center;
  padding-top:100px;
  padding-bottom:28px;
}

.firstview_main-image{
  width:100%;
}

@media screen and (max-width:767px){
  .firstview{
    background-image: none;
    padding-top:0;
    padding-bottom: 35px;
  }
}

.firstview_container{
  max-width: 1140px;
  padding-left:50px;
  padding-right: 50px;
  margin-left:auto;
  margin-right:auto;
  position: relative;
}

@media screen and (max-width:767px){
  .firstview_container{
    margin-top:-45vw;
  }
}

@media screen and (max-width:767px){
  .firstview_container{
    max-width: none;
    padding-left:20px;
    padding-right:20px;
  }
}

.firstviewcontent{
  margin-bottom:70px;
  width: fit-content;
}

@media screen and (max-width:767px){
  .firstview_main-image-sp{
    display: block;
  }
}


@media screen and (max-width:767px){
  .firstviewcontent{
    margin-bottom: 20px;
    width:100%;
  }
}

.firstviewcontent_title{
  color:#000;
  font-family: 'lato' , sans-serif;
  font-size:38px;
  font-weight:700;
  line-height: 54px;
  margin-bottom: 15px;
  text-align:center;
}

@media screen and (max-width: 767px){
  .firstviewcontent_title{
    font-size:25px;
    line-height: 36px;
    margin-left: calc(((100vw - 100%) / 2) * -1);
    margin-right: calc(((100vw - 100%) / 2) * -1);
  }
}

.firstviewcontent_images{
  margin-bottom: 25px;
}

body{
  color:#333333;
  font-family: "游ゴシック", YuGothic , "ヒラギノ角ゴ　Pro W3" ,"hiraginokakugothicpro","メイリオ",Meiryo,"MS Pゴシック","MSPGothic",sans-serif;
  font-size: 14px;
  font-weight: 500;
}

@media screen and (max-width:767px){
  .firstviewcontent_images img{
    width:27.5%;
  }
}

.firstviewcontent_images img{
  margin-right: 8px;
}

.firstviewcontent_images img:last-of-type{
  margin-right:0;
}


@media screen and (max-width: 767px){
  .firstviewcontent_images{
    display: flex;
    justify-content:space-between;
    margin-bottom:30px;
    width:100%;
  }
}

.firstviewcontent_images img:nth-of-type(2){
  width: 40%;
}

firstviewcontent_images img:last-of-type{
  margin-right: 0;
}

.firstviewcontent_buttons{
  display: flex;
}

.firstviewcontent_buttons a:first-of-type{
  margin-right: 15px;
  width:306px;
}

@media screen and (max-width:767px){
  .firstviewcontent_buttons{
    flex-direction:column;
  }
}

@media screen and (max-width:767px){
  .firstviewcontent_buttons a:first-of-type{
    margin-right:0;
    margin-bottom:  10px;
  }
}

.firstviewcontent_buttons a{
  align-items: center;
  background-color: #F79214;
  border: none;
  border-radius: 38px;
  color: #fff;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-weight: 700;
  height: 64px;
  justify-content: center;
  text-decoration: none;
  text-align: center;
  width: 100%;
}

.firstviewcontent_buttons a:last-of-type{
  background-color:#fff;
  border:1px solid #E0E0E0;
  color:#333333;
  width:176px;
}

@media screen and (max-width:767px){
  .firstviewcontent_buttons a:last-of-type{
    height:45px;
  }
}

@media screen and (max-width:767px){
  .firstviewcontent_buttons a{
    font-size:14px;
    width:100% !important;
  }
}

.firstviewcaption{
  color:#A2A2A4;
  font-size:12px;
}

p{
  line-height: 1.5;
}

.aboutwrapper{
  background-color:#f79214;
  padding:45px 0;
}

@media screen and (max-width:767px){
  .aboutwrapper{
    padding:30px 0;
  }
}

.about{
  max-width: 1140px;
  padding-left: 50px;
  padding-right: 50px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width:1024px){
  .about{
    flex-direction:column;
  }
}

@media screen and (max-width:767px){
  .about{
    max-width: none;
    padding-left:20px;
    padding-right: 20px;
  }
}

.about_title{
  display:  flex;
  flex-direction:column;
  align-items:flex-start;
  margin-bottom: 0;
  width: 53%
}

@media screen and (max-width:1024px){
  .about_title{
    margin-bottom: 0;
    width:100%;
  }
}

@media screen and (max-width:767px){
  .about_title{
  margin-bottom:40px;
}
}




.about_title h2>span{
  font-size:50px;
  font-family: 'lato',sans-serif;
  font-weight: 900;
}

@media screen and (max-width:767px){
  .about_title h2 span{
    font-size: 30px;
    letter-spacing: 1px;
  }
}

.about_title h2, .about_title p{
  color:#fff;
  text-align:left;
}
@media screen and (max-width:767px){
  .about_title h2>span{
    font-size:33px;
  }
}

.about_title h2{
  font-size: 40px;
  letter-spacing:1px;
  width:100%;
}

h2{
  display: block;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.about_title p{
  font-size: 16px;
  font-weight: 700;
  line-height:26px;
  margin-top:15px;
}


.about_title p{
  display:inline-block;
}



@media screen and (max-width:767px){
  .about_title h2{
    font-size: 30px!important;
    line-height: 1.2;
    text-align: center;
  }
}

.about_button{
  width:250px;
}

.about_button a{
    align-items: center;
    background-color: #F79214;
    border: none;
    border-radius: 38px;
    color: #fff;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    font-weight: 700;
    height: 64px;
    justify-content: center;
    text-decoration: none;
    text-align: center;
    width: 100%;
    color: #F79214 !important;
    background-color: #fff;
}

@media screen and (max-width: 767px){
.headerlogo_image-pc{
 display:none;
}
}

.headerlogo_image-pc{
  height:20px;
  width:auto;
}

.headerlogo_image-sp{
  height:16px;
  width: auto;
  display:none;
}

@media screen and (max-width:767px){
.headerlogo_image-sp{
 display:block;
}
}



body{
  -webkit-font-smoothing:antialuased;
}


*::before, *::after {
    word-break: break-all;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.about_title br{
  display: none;
}

@media screen and (max-width:767px){
  .about_title br{
    display: block;
  }
}

